<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Powersmash Portal{% endblock %}</title>
        {% block stylesheets %}
          {% stylesheets filter="scssphp" output="css/app.css"
              "%kernel.root_dir%/Resources/assets/scss/bootstrap.scss"
              "%kernel.root_dir%/Resources/assets/scss/font-awesome.scss"
              "%kernel.root_dir%/Resources/assets/css/*.css"
              "%kernel.root_dir%/Resources/assets/scss/main.scss"
          %}
            <link rel="stylesheet" href="{{ asset_url }}" />
          {% endstylesheets %}
        {% endblock %}
    </head>
<<<<<<< HEAD
    <body class ="{%block theme%}default{%endblock%}">
      <body bgcolor="white">
          {%block name%} <center><h3>PowerSmash</h3></center>{%endblock%}

        <div>
            {%block body%}<button>Home</button><button>Service</button><button>Members</button>
            <button>Events</button><button>Blog</button>{%endblock%}

          </div>

      </body>
  </body>
=======
    <body>
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#collapsed-bar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle Navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('main_homepage') }}">Powersmash</a>
          </div>
          <div class="collapse navbar-collapse" id="collapsed-bar">
              <ul class="nav navbar-nav">
                <li><a href="{{ path('main_homepage') }}">Home</a>
                <li><a href="{{ path('blog_homepage') }}">Blog</a>
                <li><a href="{{ path('main_about')}}">About Us</a>
                {% block navbar %}
                {% endblock %}
              </ul>
          </div>
        </div>
      </nav>
        <div class="container">
          {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
          {% javascripts filter="jsqueeze" output="js/scripts.js"
              "%kernel.root_dir%/Resources/assets/js/jquery-2.1.4.js"
              "%kernel.root_dir%/Resources/assets/js/bootstrap-3.3.4.js"
              "%kernel.root_dir%/Resources/assets/js/highlight.pack.js"
          %}
          <script src="{{ asset_url }}"></script>
		      {% endjavascripts %}
	{% endblock %}
    </body>
>>>>>>> upstream/master
</html>
